@use'../custom' as *;

.btn-rounded {
    @include media-breakpoint-down(sm) {
        display: block;
    }
    padding: 0.4rem 1.2rem;
    background-color: $black;
    color: $white;
    border: none;

    a {
        text-decoration: none;
        color: $white;
        
        &:hover {
            color: $black;
        }
    }

    &:hover {
        background-color: $primary;
        color: $black;
        border: 0.1rem solid $black;
    }
}
