// THIS IS WAY TO CENTER AN ABSOLUTE ELEMENT IN ITS PARENT
@use'../custom' as *;

ul {
    list-style: none;
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ===============================================================================
*  =====will dynamically generate different shades of gray and other colors=======
*  =============================================================================*/
$color-white:    #fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-black   : #000;
$color-green   : rgb(26, 137, 23);
$color-green-dark: rgb(7, 106, 5);
$color-primary: #ffc107;
@mixin dynamic-color-class($color-name, $color-value) {
    .#{$color-name} {
        color: $color-value;
    }
}
@include dynamic-color-class(color-white, $color-white);
@include dynamic-color-class(color-gray-100, $color-gray-100);
@include dynamic-color-class(color-gray-200, $color-gray-200);
@include dynamic-color-class(color-gray-300, $color-gray-300);
@include dynamic-color-class(color-gray-400, $color-gray-400);
@include dynamic-color-class(color-gray-500, $color-gray-500);
@include dynamic-color-class(color-gray-600, $color-gray-600);
@include dynamic-color-class(color-gray-700, $color-gray-700);
@include dynamic-color-class(color-gray-800, $color-gray-800);
@include dynamic-color-class(color-gray-900, $color-gray-900);
@include dynamic-color-class(color-black, $color-black);
@include dynamic-color-class(color-green, $color-green);
@include dynamic-color-class(color-green-dark, $color-green-dark);
@include dynamic-color-class(color-primary, $color-primary);


/* ===============================================================================
*  =====will dynamically generate different background-colors=======
*  =============================================================================*/

/* ===============================================================================
*  ======This mixin will generate font sizes of font-size in pixes==================
*  =============================================================================*/
$fs-8 : 8px;
$fs-13: 13px;
$fs-14 : 14px;
$fs-16 : 16px;
$fs-18 : 18px;
$fs-20 : 20px;
$fs-24 : 24px;
$fs-28 : 28px;
$fs-32 : 32px;
$fs-36 : 36px;
$fs-40 : 40px;
$fs-72 : 72px;
@mixin dynamic-font-size ($fontsize-name, $fontsize-value) {
    .#{$fontsize-name} {
        font-size: $fontsize-value;
    }
}
@include dynamic-font-size(fs-8, $fs-8);
@include dynamic-font-size(fs-13, $fs-13);
@include dynamic-font-size(fs-14, $fs-14);
@include dynamic-font-size(fs-16, $fs-16);
@include dynamic-font-size(fs-18, $fs-18);
@include dynamic-font-size(fs-20, $fs-20);
@include dynamic-font-size(fs-24, $fs-24);
@include dynamic-font-size(fs-28, $fs-28);
@include dynamic-font-size(fs-32, $fs-32);
@include dynamic-font-size(fs-36, $fs-36);
@include dynamic-font-size(fs-40, $fs-40);
@include dynamic-font-size(fs-72, $fs-72);

/*=================================================================================
* ==========MIXIN TO STYLE WEBKIT LINE CLAMP TO MAKE WEBKIT BOX=======================================
* ===============================================================================*/
$webkit-line-1: 1;
$webkit-line-2: 2;
$webkit-line-3: 3;
$webkit-line-4: 4;
$webkit-line-5: 5;
@mixin dynamic-webkit-line-clamp($webkit-line-name, $webkit-line-value) {
    .#{$webkit-line-name} {
        display: -webkit-box;
        -webkit-line-clamp: $webkit-line-value;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        -moz-box-orient: vertical;
    }
}
@include dynamic-webkit-line-clamp(webkit-line-1, $webkit-line-1);
@include dynamic-webkit-line-clamp(webkit-line-2, $webkit-line-2);
@include dynamic-webkit-line-clamp(webkit-line-3, $webkit-line-3);
@include dynamic-webkit-line-clamp(webkit-line-4, $webkit-line-4);
@include dynamic-webkit-line-clamp(webkit-line-5, $webkit-line-5);

/*=================================================================================
* ==========MIXIN TO STYLE THE FONT WEIGHT=======================================
* ===============================================================================*/
$fw-100 : 100;
$fw-200 : 200;
$fw-300 : 300;
$fw-400 : 400;
$fw-500 : 500;
$fw-600 : 600;
$fw-700 : 700;
$fw-800 : 800;
$fw-900 : 900;
@mixin dynamic-font-weight($font-weight-name, $font-weight-value) {
    .#{$font-weight-name} {
        font-weight: $font-weight-value;
    }
}
@include dynamic-font-weight(fw-100, $fw-100);
@include dynamic-font-weight(fw-200, $fw-200);
@include dynamic-font-weight(fw-300, $fw-300);
@include dynamic-font-weight(fw-400, $fw-400);
@include dynamic-font-weight(fw-500, $fw-500);
@include dynamic-font-weight(fw-600, $fw-600);
@include dynamic-font-weight(fw-700, $fw-700);
@include dynamic-font-weight(fw-800, $fw-800);
@include dynamic-font-weight(fw-900, $fw-900);

/*=================================================================================
* ==========MAX WIDTH MIXINS IN PIXES=======================================
* ===============================================================================*/
$max-width-300: 300px;
$max-width-400: 400px;
$max-width-500: 500px;
$max-width-600: 600px;
$max-width-650: 650px;
$max-width-700: 700px;
$max-width-800: 800px;
$max-width-900: 900px;
$max-width-1000: 1000px;
$max-width-1100: 1100px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;

@mixin dynamic-max-width($max-width-name, $max-width-value) {
    .#{$max-width-name} {
        max-width: $max-width-value;
    }
}
@include dynamic-max-width(max-width-300, $max-width-300);
@include dynamic-max-width(max-width-400, $max-width-400);
@include dynamic-max-width(max-width-500, $max-width-500);
@include dynamic-max-width(max-width-600, $max-width-600);
@include dynamic-max-width(max-width-650, $max-width-650);
@include dynamic-max-width(max-width-700, $max-width-700);
@include dynamic-max-width(max-width-800, $max-width-800);
@include dynamic-max-width(max-width-900, $max-width-900);
@include dynamic-max-width(max-width-1000, $max-width-1000);
@include dynamic-max-width(max-width-1100, $max-width-1100);
@include dynamic-max-width(max-width-1200, $max-width-1200);
@include dynamic-max-width(max-width-1300, $max-width-1300);

/*=================================================================================
* ==========WIDTH IN PERCENTAGE=======================================
* ===============================================================================*/
$width-30: 30%;
$width-40: 40%;
$width-50: 50%;
$width-60: 60%;
$width-70: 70%;
$width-80: 80%;
$width-90: 90%;
$width-100: 100%;

@mixin dynamic-width($width-name, $width-value) {
    .#{$width-name} {
        width: $width-value;
    }
}
@include dynamic-width(width-30, $width-30);
@include dynamic-width(width-40, $width-40);
@include dynamic-width(width-50, $width-50);
@include dynamic-width(width-60, $width-60);
@include dynamic-width(width-70, $width-70);
@include dynamic-width(width-80, $width-80);
@include dynamic-width(width-90, $width-90);
@include dynamic-width(width-100, $width-100);

/*=================================================================================
* ==========WIDTH IN Pixels=======================================
* ===============================================================================*/
$width-px-4: 4px;
$width-px-8: 8px;
$width-px-20: 20px;
$width-px-24: 24px;
$width-px-28: 28px;
$width-px-32: 32px;
$width-px-100: 100px;
$width-px-150: 150px;
$width-px-200: 200px;
$width-px-350: 350px;


@mixin dynamic-width-in-pixels($width-name, $width-value) {
    .#{$width-name} {
        width: $width-value;
    }
}
@include dynamic-width-in-pixels(width-px-4, $width-px-4);
@include dynamic-width-in-pixels(width-px-8, $width-px-8);
@include dynamic-width-in-pixels(width-px-20, $width-px-20);
@include dynamic-width-in-pixels(width-px-24, $width-px-24);
@include dynamic-width-in-pixels(width-px-28, $width-px-28);
@include dynamic-width-in-pixels(width-px-32, $width-px-32);
@include dynamic-width-in-pixels(width-px-100, $width-px-100);
@include dynamic-width-in-pixels(width-px-150, $width-px-150);
@include dynamic-width-in-pixels(width-px-200, $width-px-200);
@include dynamic-width-in-pixels(width-px-350, $width-px-350);




/*=================================================================================
* ==========MINIMUM WIDTH IN Pixels=======================================
* ===============================================================================*/
$min-width-0: 0px;

@mixin dynamic-min-width-in-pixels($min-width-name, $min-width-value) {
    .#{$min-width-name} {
        min-width: $min-width-value;
    }
}
@include dynamic-min-width-in-pixels(min-width-0, $min-width-0);


/*=================================================================================
* ==========WIDTH IN VIEW PORT WIDTH=======================================
* ===============================================================================*/
$width-vw-30: 30vw;
$width-vw-40: 40vw;
$width-vw-50: 50vw;
$width-vw-60: 60vw;
$width-vw-70: 70vw;
$width-vw-80: 80vw;
$width-vw-90: 90vw;
$width-vw-100: 100vw;

@mixin dynamic-viewport-width($width-name, $width-value) {
    .#{$width-name} {
        width: $width-value;
    }
}
@include dynamic-viewport-width(width-vw-100, $width-vw-100);

/*=================================================================================
* ==========MIN WIDTH IN VIEW PORT WIDTH=======================================
* ===============================================================================*/
$min-width-vw-100: 100vw;

@mixin dynamic-viewport-min-width($width-name, $width-value) {
    .#{$width-name} {
        min-width: $width-value;
    }
}
@include dynamic-viewport-min-width(min-width-vw-100, $min-width-vw-100);

/*=================================================================================
* ==========MAX HEIGHT MIXINS IN PIXELS=======================================
* ===============================================================================*/
$max-height-30: 30px;
$max-height-40: 40px;
$max-height-50: 50px;
$max-height-60: 60px;
$max-height-70: 70px;
$max-height-80: 80px;
$max-height-90: 90px;
$max-height-100: 100px;
$max-height-110: 110px;
$max-height-120: 120px;
$max-height-130: 130px;
$max-height-140: 140px;
$max-height-150: 150px;
$max-height-160: 160px;
$max-height-170: 170px;
$max-height-180: 180px;
$max-height-190: 190px;
$max-height-200: 200px;

@mixin dynamic-max-height($max-height-name, $max-height-value) {
    .#{$max-height-name} {
        max-height: $max-height-value;
    }
}
@include dynamic-max-height(max-height-30, $max-height-30);
@include dynamic-max-height(max-height-40, $max-height-40);
@include dynamic-max-height(max-height-50, $max-height-50);
@include dynamic-max-height(max-height-60, $max-height-60);
@include dynamic-max-height(max-height-70, $max-height-80);
@include dynamic-max-height(max-height-90, $max-height-90);
@include dynamic-max-height(max-height-100, $max-height-100);
@include dynamic-max-height(max-height-110, $max-height-110);
@include dynamic-max-height(max-height-120, $max-height-120);
@include dynamic-max-height(max-height-130, $max-height-130);
@include dynamic-max-height(max-height-140, $max-height-140);
@include dynamic-max-height(max-height-150, $max-height-150);
@include dynamic-max-height(max-height-160, $max-height-160);
@include dynamic-max-height(max-height-170, $max-height-170);
@include dynamic-max-height(max-height-180, $max-height-180);
@include dynamic-max-height(max-height-190, $max-height-190);
@include dynamic-max-height(max-height-200, $max-height-200);

/*=================================================================================
* ==========MIN HEIGHT MIXINS IN PIXES=======================================
* ===============================================================================*/
$min-height-100: 100px;
$min-height-700: 700px;

@mixin dynamic-min-height($min-height-name, $min-height-value) {
    .#{$min-height-name} {
        min-height: $min-height-value;
    }
}
@include dynamic-min-height(min-height-100, $min-height-100);
@include dynamic-min-height(min-height-700, $min-height-700);

/*=================================================================================
* ==========height in Pixels=======================================
* ===============================================================================*/
$height-px-4: 4px;
$height-px-6: 6px;
$height-px-8: 8px;
$height-px-12: 12px;
$height-px-20: 20px;
$height-px-24: 24px;
$height-px-34: 34px;
$height-px-85: 85px;

@mixin dynamic-height-in-pixels($height-name, $height-value) {
    .#{$height-name} {
        height: $height-value;
    }
}
@include dynamic-height-in-pixels(height-px-4, $height-px-4);
@include dynamic-height-in-pixels(height-px-6, $height-px-6);
@include dynamic-height-in-pixels(height-px-8, $height-px-8);
@include dynamic-height-in-pixels(height-px-12, $height-px-12);
@include dynamic-height-in-pixels(height-px-20, $height-px-20);
@include dynamic-height-in-pixels(height-px-24, $height-px-24);
@include dynamic-height-in-pixels(height-px-34, $height-px-34);
@include dynamic-height-in-pixels(height-px-85, $height-px-85);

/*=================================================================================
* ==========height in Percentage=======================================
* ===============================================================================*/
$height-40: 40%;
$height-50: 50%;
$height-100: 100%;

@mixin dynamic-height-in-percentage($height-name, $height-value) {
    .#{$height-name} {
        height: $height-value;
    }
}
@include dynamic-height-in-percentage(height-40, $height-40);
@include dynamic-height-in-percentage(height-50, $height-50);
@include dynamic-height-in-percentage(height-100, $height-100);



/*=================================================================================
* ==========HEIGHT IN VIEWPORT HEIGHT=======================================
* ===============================================================================*/
$height-vh-30: 30vh;
$height-vh-40: 40vh;
$height-vh-50: 50vh;
$height-vh-60: 60vh;
$height-vh-70: 70vh;
$height-vh-100: 100vh;


@mixin dynamic-viewport-height($height-name, $height-value) {
    .#{$height-name} {
        height: $height-value;
    }
}
@include dynamic-viewport-height(height-vh-100, $height-vh-100);

/*=================================================================================
* ==========LINE HEIGHT IN PIXES =======================================
* ===============================================================================*/
$lh-10: 10px;
$lh-20: 20px;
$lh-24: 24px;
$lh-30: 30px;
$lh-32: 32px;
$lh-40: 40px;
$lh-50: 50px;
$lh-72: 72px;

@mixin dynamic-line-height($line-height-name, $line-height-value) {
    .#{$line-height-name} {
        line-height: $line-height-value;
    }
}
@include dynamic-line-height(lh-10, $lh-10);
@include dynamic-line-height(lh-20, $lh-20);
@include dynamic-line-height(lh-24, $lh-24);
@include dynamic-line-height(lh-30, $lh-30);
@include dynamic-line-height(lh-32, $lh-32);
@include dynamic-line-height(lh-40, $lh-40);
@include dynamic-line-height(lh-50, $lh-50);
@include dynamic-line-height(lh-72, $lh-72);

/*==================================================================================
* =================LETTER SPACING=======================================
* ================================================================================*/
@mixin letter-spacing($letter-spacing: -0.03em) {
    letter-spacing: $letter-spacing;
}
.l-s {
    @include letter-spacing($letter-spacing:-0.03em);
}

/*=================================================================================
* =================== Margin top in pixes=======================================
* ===============================================================================*/
$m-t-0: 0px;
$m-t-4: 4px;
$m-t-8: 8px;
$m-t-12: 12px;
$m-t-16: 16px;
$m-t-20: 20px;
$m-t-24: 24px;
$m-t-28: 28px;
$m-t-30: 30px;
$m-t-32: 32px;
$m-t-36: 36px;
$m-t-40: 40px;
$m-t-50: 50px;
$m-t-100: 100px;

@mixin dynamic-margin-top($margin-top-name, $margin-top-value) {
    .#{$margin-top-name} {
        margin-top: $margin-top-value;
    }
}
@include dynamic-margin-top(m-t-0, $m-t-0);
@include dynamic-margin-top(m-t-4, $m-t-4);
@include dynamic-margin-top(m-t-8, $m-t-8);
@include dynamic-margin-top(m-t-12, $m-t-12);
@include dynamic-margin-top(m-t-16, $m-t-16);
@include dynamic-margin-top(m-t-20, $m-t-20);
@include dynamic-margin-top(m-t-24, $m-t-24);
@include dynamic-margin-top(m-t-28, $m-t-28);
@include dynamic-margin-top(m-t-30, $m-t-30);
@include dynamic-margin-top(m-t-32, $m-t-32);
@include dynamic-margin-top(m-t-36, $m-t-36);
@include dynamic-margin-top(m-t-40, $m-t-40);
@include dynamic-margin-top(m-t-50, $m-t-50);
@include dynamic-margin-top(m-t-100, $m-t-100);

/*=================================================================================
* =================== Margin left in pixes=======================================
* ===============================================================================*/
$m-s-auto: auto;
$m-s-4: 4px;
$m-s-8: 8px;
$m-s-12: 12px;
$m-s-16: 16px;
$m-s-20: 20px;
$m-s-24: 24px;
$m-s-28: 28px;
$m-s-32: 32px;
$m-s-36: 36px;

@mixin dynamic-margin-start($margin-s-name, $margin-s-value) {
    .#{$margin-s-name} {
        margin-left: $margin-s-value;
    }
}
@include dynamic-margin-start(m-s-auto, $m-s-auto);
@include dynamic-margin-start(m-s-4, $m-s-4);
@include dynamic-margin-start(m-s-8, $m-s-8);
@include dynamic-margin-start(m-s-12, $m-s-12);
@include dynamic-margin-start(m-s-16, $m-s-16);
@include dynamic-margin-start(m-s-20, $m-s-20);
@include dynamic-margin-start(m-s-24, $m-s-24);
@include dynamic-margin-start(m-s-28, $m-s-28);
@include dynamic-margin-start(m-s-32, $m-s-32);


/*=================================================================================
* =================== Margin right in pixes=======================================
* ===============================================================================*/
$m-e-auto: auto;
$m-e-4: 4px;
$m-e-8: 8px;
$m-e-12: 12px;
$m-e-16: 16px;
$m-e-20: 20px;
$m-e-24: 24px;
$m-e-28: 28px;
$m-e-32: 32px;
$m-e-36: 36px;

@mixin dynamic-margin-end($margin-e-name, $margin-e-value) {
    .#{$margin-e-name} {
        margin-right: $margin-e-value;
    }
}
@include dynamic-margin-end(m-e-auto, $m-e-auto);
@include dynamic-margin-end(m-e-4, $m-e-4);
@include dynamic-margin-end(m-e-8, $m-e-8);
@include dynamic-margin-end(m-e-12, $m-e-12);
@include dynamic-margin-end(m-e-16, $m-e-16);
@include dynamic-margin-end(m-e-20, $m-e-20);
@include dynamic-margin-end(m-e-24, $m-e-24);
@include dynamic-margin-end(m-e-28, $m-e-28);
@include dynamic-margin-end(m-e-32, $m-e-32);
@include dynamic-margin-end(m-e-36, $m-e-36);

/*=================================================================================
* =================== Margin right in pixes=======================================
* ===============================================================================*/
$m-b-4: 4px;
$m-b-8: 8px;
$m-b-12: 12px;
$m-b-16: 16px;
$m-b-20: 20px;
$m-b-24: 24px;
$m-b-28: 28px;
$m-b-32: 32px;
$m-b-36: 36px;
$m-b-40: 40px;
$m-b-48: 48px;
$m-b-100: 100px;

@mixin dynamic-margin-bottom($margin-b-name, $margin-b-value) {
    .#{$margin-b-name} {
        margin-bottom: $margin-b-value;
    }
}
@include dynamic-margin-bottom(m-b-4, $m-b-4);
@include dynamic-margin-bottom(m-b-8, $m-b-8);
@include dynamic-margin-bottom(m-b-12, $m-b-12);
@include dynamic-margin-bottom(m-b-16, $m-b-16);
@include dynamic-margin-bottom(m-b-20, $m-b-20);
@include dynamic-margin-bottom(m-b-24, $m-b-24);
@include dynamic-margin-bottom(m-b-28, $m-b-28);
@include dynamic-margin-bottom(m-b-32, $m-b-32);
@include dynamic-margin-bottom(m-b-36, $m-b-36);
@include dynamic-margin-bottom(m-b-40, $m-b-40);
@include dynamic-margin-bottom(m-b-48, $m-b-48);
@include dynamic-margin-bottom(m-b-100, $m-b-100);

/* ===============================================================================
* =======MARGIN 0=============================================================
* ==============================================================================*/
@mixin margin($margin) {
    margin: $margin;
}
.margin-0 {
    @include margin($margin: 0);
}

/*=================================================================================
* =================== padding top in pixes=======================================
* ===============================================================================*/
$p-t-4: 4px;
$p-t-8: 8px;
$p-t-12: 12px;
$p-t-16: 16px;
$p-t-20: 20px;
$p-t-24: 24px;
$p-t-28: 28px;
$p-t-32: 32px;
$p-t-36: 36px;
$p-t-90: 90px;
$p-t-100: 100px;
$p-t-120: 120px;
$p-t-128: 128px;

@mixin dynamic-padding-top($padding-t-name, $padding-t-value) {
    .#{$padding-t-name} {
        padding-top: $padding-t-value;
    }
}
@include dynamic-padding-top(p-t-4, $p-t-4);
@include dynamic-padding-top(p-t-8, $p-t-8);
@include dynamic-padding-top(p-t-12, $p-t-12);
@include dynamic-padding-top(p-t-16, $p-t-16);
@include dynamic-padding-top(p-t-20, $p-t-20);
@include dynamic-padding-top(p-t-24, $p-t-24);
@include dynamic-padding-top(p-t-28, $p-t-28);
@include dynamic-padding-top(p-t-32, $p-t-32);
@include dynamic-padding-top(p-t-36, $p-t-36);
@include dynamic-padding-top(p-t-90, $p-t-90);
@include dynamic-padding-top(p-t-100, $p-t-100);
@include dynamic-padding-top(p-t-120, $p-t-120);
@include dynamic-padding-top(p-t-128, $p-t-128);


/*=================================================================================
* =================== padding right in pixes=======================================
* ===============================================================================*/
$p-e-4: 4px;
$p-e-8: 8px;
$p-e-12: 12px;
$p-e-16: 16px;
$p-e-20: 20px;
$p-e-24: 24px;
$p-e-28: 28px;
$p-e-32: 32px;
$p-e-36: 36px;
$p-e-56: 56px;

@mixin dynamic-padding-end($padding-e-name, $padding-e-value) {
    .#{$padding-e-name} {
        padding-right: $padding-e-value;
    }
}
@include dynamic-padding-end(p-e-4, $p-e-4);
@include dynamic-padding-end(p-e-8, $p-e-8);
@include dynamic-padding-end(p-e-12, $p-e-12);
@include dynamic-padding-end(p-e-16, $p-e-16);
@include dynamic-padding-end(p-e-20, $p-e-20);
@include dynamic-padding-end(p-e-24, $p-e-24);
@include dynamic-padding-end(p-e-28, $p-e-28);
@include dynamic-padding-end(p-e-32, $p-e-32);
@include dynamic-padding-end(p-e-36, $p-e-36);
@include dynamic-padding-end(p-e-56, $p-e-56);


/*=================================================================================
* =================== padding bottom in pixes=======================================
* ===============================================================================*/
$p-b-4: 4px;
$p-b-8: 8px;
$p-b-12: 12px;
$p-b-16: 16px;
$p-b-20: 20px;
$p-b-24: 24px;
$p-b-28: 28px;
$p-b-32: 32px;
$p-b-36: 36px;
$p-b-44: 44px;
$p-b-90: 90px;

@mixin dynamic-padding-bottom($padding-b-name, $padding-b-value) {
    .#{$padding-b-name} {
        padding-bottom: $padding-b-value;
    }
}
@include dynamic-padding-bottom(p-b-4, $p-b-4);
@include dynamic-padding-bottom(p-b-8, $p-b-8);
@include dynamic-padding-bottom(p-b-12, $p-b-12);
@include dynamic-padding-bottom(p-b-16, $p-b-16);
@include dynamic-padding-bottom(p-b-20, $p-b-20);
@include dynamic-padding-bottom(p-b-24, $p-b-24);
@include dynamic-padding-bottom(p-b-28, $p-b-28);
@include dynamic-padding-bottom(p-b-32, $p-b-32);
@include dynamic-padding-bottom(p-b-36, $p-b-36);
@include dynamic-padding-bottom(p-b-44, $p-b-44);
@include dynamic-padding-bottom(p-b-90, $p-b-90);


/*=================================================================================
* =================== padding left in pixes=======================================
* ===============================================================================*/
$p-s-4: 4px;
$p-s-8: 8px;
$p-s-12: 12px;
$p-s-16: 16px;
$p-s-20: 20px;
$p-s-24: 24px;
$p-s-28: 28px;
$p-s-32: 32px;
$p-s-36: 36px;
$p-s-56: 56px;

@mixin dynamic-padding-start($padding-s-name, $padding-s-value) {
    .#{$padding-s-name} {
        padding-left: $padding-s-value;
    }
}
@include dynamic-padding-start(p-s-4, $p-s-4);
@include dynamic-padding-start(p-s-8, $p-s-8);
@include dynamic-padding-start(p-s-12, $p-s-12);
@include dynamic-padding-start(p-s-16, $p-s-16);
@include dynamic-padding-start(p-s-20, $p-s-20);
@include dynamic-padding-start(p-s-24, $p-s-24);
@include dynamic-padding-start(p-s-28, $p-s-28);
@include dynamic-padding-start(p-s-32, $p-s-32);
@include dynamic-padding-start(p-s-36, $p-s-36);
@include dynamic-padding-start(p-s-56, $p-s-56);


/*================================================================================
* =======PADDING 0=============================================
* ==============================================================================*/
@mixin padding($padding) {
    padding-top: $padding;
    padding-left: $padding;
    padding-bottom: $padding;
    padding-right: $padding;
}
.padding-0 {
    @include padding($padding: 0);
}
.padding-8 {
    @include padding($padding: 8px);
}
.padding-16 {
    @include padding($padding: 16px);
}

/*================================================================================
* =======THE TYPE OF POSITION TO USE =============================================
* ==============================================================================*/
$pos-fixed: fixed;
$pos-abs: absolute;
$pos-sticky: sticky;
$pos-rel: relative;

@mixin dynamic-position($position-name, $position-value) {
    .#{$position-name} {
        position: $position-value;
    }
}
@include dynamic-position(pos-fixed, $pos-fixed);
@include dynamic-position(pos-abs, $pos-abs);
@include dynamic-position(pos-sticky, $pos-sticky);
@include dynamic-position(pos-rel, $pos-rel);

/*================================================================================
* =======TOP, LEFT BOTTOM, RIGHT IN REGARDS TO POSITION===========================
* ==============================================================================*/
$top-neg-100: -100px;
$top-0: 0px;
$top-10: 10px;
$top-12: 12px;
$top-20: 20px;
$top-30: 30px;
$top-40: 40px;
$top-90: 90px;

@mixin dynamic-top-position($top-name, $top-value) {
    .#{$top-name} {
        top: $top-value;
    }
}
@include dynamic-top-position(top-neg-100, $top-neg-100);
@include dynamic-top-position(top-0, $top-0);
@include dynamic-top-position(top-10, $top-10);
@include dynamic-top-position(top-12, $top-12);
@include dynamic-top-position(top-20, $top-20);
@include dynamic-top-position(top-30, $top-30);
@include dynamic-top-position(top-40, $top-40);
@include dynamic-top-position(top-90, $top-90);

$right-neg-60: -60px;
$right-neg-30: -30px;
$right-0: 0px;
$right-10: 10px;
$right-12: 12px;
$right-16: 16px;
$right-24: 24px;

@mixin dynamic-right-position($right-name, $right-value) {
    .#{$right-name} {
        right: $right-value;
    }
}
@include dynamic-right-position(right-neg-60, $right-neg-60);
@include dynamic-right-position(right-neg-30, $right-neg-30);
@include dynamic-right-position(right-0, $right-0);
@include dynamic-right-position(right-10, $right-10);
@include dynamic-right-position(right-12, $right-12);
@include dynamic-right-position(right-16, $right-16);
@include dynamic-right-position(right-24, $right-24);

$bottom-0: 0px;
$bottom-10: 10px;
@mixin dynamic-bottom-position($bottom-name, $bottom-value) {
    .#{$bottom-name} {
        bottom: $bottom-value;
    }
}
@include dynamic-bottom-position(bottom-0, $bottom-0);
@include dynamic-bottom-position(bottom-10, $bottom-10);

$left-0: 0px;
$left-10: 10px;
$left-20: 20px;
$left-30: 30px;
@mixin dynamic-left-position($left-name, $left-value) {
    .#{$left-name} {
        left: $left-value;
    }
}
@include dynamic-left-position(left-0, $left-0);



/*================================================================================
* ======= FLEX CONTAINER CLASS=============================================
* ==============================================================================*/
@mixin flex-container($direction: row, $align-items: normal, $justify-content: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

.flex {
    @include flex-container($direction:row, $align-items: normal, $justify-content: flex-start);
}
.flex-center {
    @include flex-container($align-items: center, $justify-content: center);
}
.flex-align-center {
    @include flex-container($align-items: center);
}
.flex-justify-center {
    @include flex-container($justify-content: center)
}
.flex-justify-btn {
    @include flex-container($justify-content: space-between);
}
.flex-align-center-justify-btn {
    @include flex-container($direction: row, $align-items: center, $justify-content: space-between);
}
.flex-column {
    @include flex-container($direction: column, $align-items: normal, $justify-content: flex-start);
}
.flex-dir-column {
    @include flex-container($direction: column, $align-items: center, $justify-content:center);
}
.flex-align-center-just-btn {
    @include flex-container($direction: row, $align-items: flex-start, $justify-content:space-between);   
}
.flex-wrap {
    flex-wrap: nowrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-dir-column-align-stretch {
    @include flex-container($direction: column, $align-items: stretch, $justify-content:flex-start);   
}

/*================================================================================
* ======= FLEX ITEMS OF FLEX CONTAINER=============================================
* ==============================================================================*/
@mixin flex-item($flex-grow:0, $flex-shrink:1, $flex-basis:auto) {
    flex-grow: $flex-grow;
    flex-shrink: $flex-shrink;
    flex-basis: $flex-basis;
}
.flex-grow {
    @include flex-item($flex-grow:1, $flex-shrink: 0, $flex-basis:auto);
}


/* =================================================================================
*  ===============================TEXT ALIGN MIXIN==================================
*  ===============================================================================*/
@mixin text-align($text-align) {
    text-align: $text-align;
}
.ta-center {
    @include text-align($text-align: center);
}

/* =================================================================================
 * =====================BORDER MIXIN ===========================================
 * ===============================================================================*/
@mixin border-top($border-top-style: solid, $border-top-width: 1px, $border-top-color: $black) {
    border-top-style: $border-top-style;
    border-top-width: $border-top-width;
    border-top-color: $border-top-color;
}

@mixin border($border-style: solid, $border-width: 1px, $border-color: $black) {
    border-style: $border-style;
    border-width: $border-width;
    border-color: $border-color;
}
.border-all {
    @include border($border-style:solid, $border-width:1px, $border-color:$black);
}
.border-none {
    @include border(none, 0px, $black)
}
.border-b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $black;
}
.border-b-white {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $white;
}
.border-gray-200 {
    border-style: solid;
    border-width: 1px;
    border-color: $gray-200;   
}

.border-style {
    border-style: solid;
}

$b-color-black: $black;
$b-color-gray-100: $gray-100;
$b-color-green: $green;

@mixin dynamic-border-color ($color-name, $color-value) {
    .#{$color-name} {
        border-color: $color-value;
    }
}
@include dynamic-border-color(b-color-black, $b-color-black);
@include dynamic-border-color(b-color-gray-100, $b-color-gray-100);
@include dynamic-border-color(b-color-green, $b-color-green);

$b-width-1: 1px;
@mixin dynamic-border-width($width-name, $width-value) {
    .#{$width-name} {
        border-width: $width-value;
    }
}
@include dynamic-border-width(b-width-1, $b-width-1);

/*==================================================================================
* =================BACKGROUND COLOR MIXIN===========================================
* ================================================================================*/
@mixin bg-color($background-color: $white) {
    background-color: $background-color;
}
.bg-color-black {
    @include bg-color($background-color: $black);
}
.bg-color-white {
    @include bg-color($background-color: $white);
}
.bg-color-gray-200 {
    @include bg-color($background-color: $gray-200);
}
.bg-color-gray-400 {
    @include bg-color($background-color: $gray-400);
}
.bg-color-gray-600 {
    @include bg-color($background-color: $gray-600);
}
.bg-color-gray-800 {
    @include bg-color($background-color: $gray-800);
}
.bg-color-green {
    @include bg-color($background-color: $green);
}
.bg-color-primary {
    @include bg-color($background-color: $primary);
}
.bg-color-transparent {
    background-color: transparent;
}


/*==================================================================================
* =================Border radius dynamic=======================================
* ================================================================================*/
$border-rd-4: 4px;
$border-rd-8: 8px;
$border-rd-12: 12px;
$border-rd-16: 16px;
$border-rd-20: 20px;
$border-rd-24: 24px;
$border-rd-28: 28px;
$border-rd-32: 32px;
$border-rd-36: 36px;

@mixin dynamic-border-radius($border-rd-name, $border-rd-value) {
    .#{$border-rd-name} {
        border-radius: $border-rd-value;
    }
}
@include dynamic-border-radius(border-rd-4, $border-rd-4);
@include dynamic-border-radius(border-rd-8, $border-rd-8);
@include dynamic-border-radius(border-rd-12, $border-rd-12);
@include dynamic-border-radius(border-rd-16, $border-rd-16);
@include dynamic-border-radius(border-rd-20, $border-rd-20);
@include dynamic-border-radius(border-rd-24, $border-rd-24);
@include dynamic-border-radius(border-rd-28, $border-rd-28);
@include dynamic-border-radius(border-rd-32, $border-rd-32);
@include dynamic-border-radius(border-rd-36, $border-rd-36);

/*==================================================================================
* =================OVERFLOW MIXIN=======================================
* ================================================================================*/
@mixin overflow($overflow-y: visible, $overflow-x: visible) {
    overflow-y: $overflow-y;
    overflow-x: $overflow-x;
}
.overflow-hidden {
    @include overflow($overflow-y: hidden, $overflow-x: hidden);
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-x-hidden {
    overflow-x: hidden;
}

/*===================================================================================
* ========================THE Z-INDEX PART==========================================
* =================================================================================*/
$z-i-5: 5;
$z-i-10: 10;
$z-i-15: 15;
$z-i-20: 20;
@mixin dynamic-z-index($z-name, $z-value) {
    .#{$z-name} {
        z-index: $z-value;
    }
}
@include dynamic-z-index(z-i-5, $z-i-5);
@include dynamic-z-index(z-i-10, $z-i-10);
@include dynamic-z-index(z-i-15, $z-i-15);
@include dynamic-z-index(z-i-20, $z-i-20);


/*================================================================================
* ====THIS SECTION IS FOR THE OUTLINE IN BORDERS ESPECIALLY IN FORMS==============
* ==============================================================================*/
$outline-style-ridge: ridge;
$outline-style-none: none;
$outline-style-hidden: hidden;

@mixin dynamic-outline-style ($outline-style-name, $outline-style-value) {
    .#{$outline-style-name} {
        outline-style: $outline-style-value;
    }
}
@include dynamic-outline-style(outline-style-ridge, $outline-style-ridge);
@include dynamic-outline-style(outline-style-none, $outline-style-none);
@include dynamic-outline-style(outline-style-hidden, $outline-style-hidden);

$outline-width-1: 1px;

@mixin dynamic-outline-width ($outline-width-name, $outline-width-value) {
    .#{$outline-width-name} {
        outline-width: $outline-width-value;
    }
}
@include dynamic-outline-width(outline-width-1, $outline-width-1);


$outline-color-green: $green-dark;
$outline-color-black: $black;

@mixin dynamic-outline-color ($outline-color-name, $outline-color-value) {
    .#{$outline-color-name} {
        outline-color: $outline-color-value;
    }
}
@include dynamic-outline-color(outline-color-green, $outline-color-green);


/*=================================================================================
* ============UTILITIES PART=======================================================
* ===============================================================================*/
.a {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.db {
    display: block;
}
.dn {
    display: none;
}
.dib {
    display: inline-block;
}
.dfc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dfb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dfe {
    display: flex;
    align-items: center;
    justify-content: end;
}
.dfa {
    display: flex;
    align-items: center;
    justify-content: start;
}
.df {
    display: flex;
    align-items: center;
}
.flex-item-1 {
    flex: 1 0 0px;
}
.flex-item-0 {
    flex: 0 0 0px;
}
.ls-0 {
    letter-spacing: 0px;
}
.cp {
    cursor: pointer;
}
.font-times {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

/*when the modal is open i want the body within to not scroll*/
body.modal-open {
    overflow: hidden;
}
.custom-input {
    width: 100%;
    outline: none;
    background-color: $gray-100;
    border: 1px solid $gray-400;
}