@use'../custom' as *;

.a {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.db {
    display: block;
}
.dn {
    display: none;
}
.dib {
    display: inline-block;
}
.dfc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dfb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dfe {
    display: flex;
    align-items: center;
    justify-content: end;
}
.dfa {
    display: flex;
    align-items: center;
    justify-content: start;
}
.df {
    display: flex;
    align-items: center;
}
.flex-item-1 {
    flex: 1 0 0px;
}
.flex-item-0 {
    flex: 0 0 0px;
}
.ls-0 {
    letter-spacing: 0px;
}
.cp {
    cursor: pointer;
}
.font-times {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

/*when the modal is open i want the body within to not scroll*/
body.modal-open {
    overflow: hidden;
}
