@use'../custom' as *;

// IF YOU WANT THE NAVIGATION STYLING THEN IT IS IN THE TOPOGRAPHY SECTION


/*=====================================================================================
* THE BODY SECTION OF THE AUTHENTICATED HOME PAGE
* ===================================================================================*/

/*=====================================================================================
* THE MEDIA QUERY SECTION
* ====================================================================================*/
@media only screen and (max-width: 576px) {
    .body-container .inner-body-container .secondary-section {
        display: none;
    }
    .inner-body-container .main-section .main-container .posts-section .inner-posts-section {
        padding-top: 50px;
        display: block;
    }
    .inner-posts-section article .article-container .inner-article-container .inner-article-container2 {
        margin: 0px 24px;
    }
    .inner-article-container2 .profile-container button img {
        width: 24px;
        height: 24px;
    }
    .inner-article-container2 .text-section .inner-text-section .article-side .bottom-section {
        padding: 0;
        display: block;
    }
}