@use'../custom' as *;

/*==================================================================================
* ========This is the home page for users that have not yet logged in
* ================================================================================*/


/* ===============================================================================
* ===========MODAL 1 CUSTOMISATION==============================================
* ==============================================================================*/
.modal1 {
    display: none;
    pointer-events: none;
    transition: display 500s ease-in;
}
.modal1.show {
    display: block;
    pointer-events: auto;
}






.btn-home {
    margin: 2rem 0;
    width: 200px;
}

/*============posts-section===============================================*/
.home_posts-section {
    padding-top: 40px;
    border-top: 1px solid $gray-100;
} 
.home_posts-section .container .inner-body-container {
    display: flex;
}

/*====================Media query for home page==========================*/
@media only screen and (max-width: 650px) {
    .home_posts-section .inner-posts-section article .article-container .inner-article-container .inner-article-container2 {
        margin: 0px;
    }

    .home_posts-section .bottom-section .inner-container .time-section .read-time-section {
        display: none;
    }
}