@use'../custom' as *;

/*==================================================================================
* ========This is the home page for users that have not yet logged in
* ================================================================================*/


/* ===============================================================================
* ===========MODAL 1 CUSTOMISATION==============================================
* ==============================================================================*/
.modal1 {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in;
}
.modal1.show {
    opacity: 1;
    pointer-events: auto;
}

/*=============================================================================
* ======Modal for sign up customisation========================================
* ===========================================================================*/
.signupModal {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in;
}

.signupModal.show {
    opacity: 1;
    pointer-events: auto;
}
.border-line {
    display: none;
}
.signIn {
    &:hover {
        .border-line {
            display: block;
        }
    }
}
.wrongPassword {
    border-color: red !important;
    border-width: 2px !important;
}

/*=============================================================================
* ==========================navbar customisation ==============================
* ===========================================================================*/
.home-navbar-section {
    background-color: $primary;
    transition: background-color 0.3s ease;
}
.home-navbar-section.changeColor {
    background-color: $white;
}

.getStartedButton {
    transition: background-color 0.3s ease;
}
.getStartedButton.changeColor {
    background-color: $green;
    color: $white;
    font-weight: 800;
}


/*================================================================================
* ============post section customization =========================================
* ==============================================================================*/
.popup-dialog-box {
    display: none;
}
.popup-dialog-box.show {
    display: block;
}




.btn-home {
    margin: 2rem 0;
    width: 200px;
}

/*============posts-section===============================================*/
.home_posts-section {
    padding-top: 40px;
    border-top: 1px solid $gray-100;
} 
.home_posts-section .container .inner-body-container {
    display: flex;
}

/*====================Media query for home page==========================*/
@media only screen and (max-width: 600px) {
    .home_posts-section .inner-posts-section article .article-container .inner-article-container .inner-article-container2 {
        margin: 0px;
    }

    .home_posts-section .bottom-section .inner-container .time-section .read-time-section {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mid-screen-above {
        display: block !important;
    }
}