@use'../custom' as *;

/*==================================================================================
* ========This is the home page for users that have not yet logged in
* ================================================================================*/
.home-navbar .navbar {
    background-color: $primary;
    transition: background-color 0.3s ease-in;
}
// this property will come alive when the user scrolls past the intro-section
.home-navbar .navbar.show {
    box-shadow: none;
    border-bottom: 1px solid $gray-800;
}
.home-navbar .navbar-brand {
    font-size: xx-large;
}

.home-navbar .navbar-nav li {
    padding: 0.4rem 1.2rem;
    color: #000;
    text-transform: capitalize;
}
// this class for button will be activated when user scrolls past intro-section
.home-navbar .navbar .navbar-nav .btn-rounded.scroll-btn {
    background-color: $green;
    &:hover {
        background-color: $green-dark;
    }
}
.mediaQ {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.btn-home {
    margin: 2rem 0;
    width: 200px;
}

/*============posts-section===============================================*/
.home_posts-section {
    padding-top: 40px;
    border-top: 1px solid $gray-100;
} 
.home_posts-section .container .inner-body-container {
    display: flex;
}

/*====================Media query for home page==========================*/
@media only screen and (max-width: 650px) {
    .home_posts-section .inner-posts-section article .article-container .inner-article-container .inner-article-container2 {
        margin: 0px;
    }
}