// This is the modal the layout elements
@use'../custom' as *;

/*===============================================================================
* This is modal 1 customisation modal for getting started
===============================================================================*/
.modal-dialog {
    max-width: 700px !important;
    height: 100vh !important;
}
.modal-body {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 2.75rem 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body h1 {
    line-height: 2rem;
    font-size: 1.75rem;
    columns: $black;
    margin: 0;
    text-align: center;
    font-weight: 600;
}
.modal-body .btn-container {
    margin-top: 3.125rem;
    width: 300px;
    text-align: center;
    @include media-breakpoint-down(sm) {
        width: 235px;
    }
}
.modal-btn {
    width: 100%;
    padding: .5rem;
    background-color: $white;
    border: 1px solid $black;
    font-size: 1rem;
    text-align: center;
    border-radius: 99em;
    display: inline-block;
    margin-top: .75rem;
    color: $black;
    font-weight: 500;
}

.modal-btn div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-btn div i {
    width: 1.5rem;
    height: 1.5rem;
}
.modal-btn div .jaza {
    width: 1.5rem;
    height: 1.5rem;
}
.btn-container .already-account {
    margin-top: 2.5rem;
    margin-bottom: 5.5rem;
    text-align: center;
}
.btn-container .already-account p {
    font-weight: 600;
    margin: 0;
    @include media-breakpoint-down(sm) {
        font-size: .9rem;
    }
}
.btn-container .already-account p a {
    color: $green;
    font-weight: bold;
}
.modal-body .terms {
    width: 450px;
    font-size: .8125rem;
    line-height: 1.25rem;
    @include media-breakpoint-down(sm) {
        width: 250px;
    }
}
.modal-body .terms .lead {
    font-size: .8125rem;
}
// end of modal 1 customisation

// modal 2 customisation the modal for entering email
.custom-container {
    width: 40%;
    margin: 0 auto;

    .continue-btn {
        display: block;
        margin: 2rem auto;

        button {
            margin: 0 auto;
            padding: .5rem 4rem;
            background-color: $gray-900;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
    .continue-btn.invalid_code {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.form-input {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .custom-input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: .1rem solid $black;
        border-radius: 0;
        text-align: center;
        outline: none;

        &:focus {
            border-color: $black;
            box-shadow: none;
            outline: none;
        }
    }

    .error-message-email {
        margin-top: .5rem;
        color: $red;
        font-weight: 600;
        font-size: .9rem;
        display: none; //initially display none it will modified by js when code is invalid
    }
    .error-message-email.active {
        display: block;
        opacity: 1;
        transition: opacity 0.3s;
    }
}
// end modal 2 customisation

// modal 4 cutomisation begins here
.custom-input.invalid {
    border-color: $red;
}
.error-message {
    margin-top: .5rem;
    color: $red;
    font-weight: 600;
    font-size: .9rem;
    display: none; //initially display none it will modified by js when code is invalid
}
.error-message.active {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
}
.invalid-code-go-back {
    display: none;
}
// end of modal 4 customisation

// not logged in offcanvas customisation
.offcanvas-btn {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.2rem;

    button {
        width: 100%;
        border-radius: 2rem;
    }
    .btn-sign-up {
        background-color: $green;
        color: $white;
        border: .1rem solid $green;
    }
}
// end of not logged in offcanvas customisation