
// This is the modal for registration and login customisation

.modal-container h1 {
    margin-bottom: 4rem;
}
.modal-container div {
    margin-bottom: 1rem;
}
.modal-btn {
    padding-left: 2rem;
}