@use'../custom' as *;
/*================================================================================
* = This page will style the page shown when use clicks to read the post
* ==============================================================================*/
.post-body-section .content-section .post-title-section {
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}
.post-body-section .content-section .post-title-section h1 {
    letter-spacing: -0.015em;
    font-size: 2rem;
    font-weight: 1000;
    line-height: 38px;
    margin-bottom: -0.27em;
    margin-top: 12px;
    text-transform: capitalize;
    max-width: 100%;
    word-wrap: break-word;
}
.post-body-section .content-section .author-profile-section {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}
.author-profile-section .profile-container img {
    width: 44px;
    height: 44px;
}
.author-profile-section .nameDate-container {
    margin-left: 12px;
    width: 100%;
    overflow-wrap: break-word;
}
.author-profile-section .nameDate-container .name-section {
    display: flex;
    margin-bottom: 3px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.author-profile-section .nameDate-container .name-section .fullname{
    a {
        display: inline-block;
        color: $black;
        font-size: 18px;
        letter-spacing: -0.012em;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 100%;
        height: 100%
    }
}
.author-profile-section .nameDate-container .follow-button {
    background-color: $green;
    color: $white;
    text-align: center;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.author-profile-section .nameDate-container .postDate{
    p {
        font-size: 15px;
        color: $gray-700;
    }
}
.container-fluid2 div .share-post-section {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-fluid2 div .share-post-section .icon-container {
    display: flex;
    align-items: center;
    border: 1px solid $gray-200;
    border-radius: 99em;
    padding: 0px 16px 0px 12px;
    height: 38px;
    cursor: pointer;
}
.container-fluid2 div .share-post-section .icon-container .icon {
    margin-right: 9px;
    color: $green-dark;
}

.container-fluid2 div .image-container {
    margin-top: 40px;
    max-width: 100%;
    clear: both;
}

.container-fluid2 div .image-container .image-container-side {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: zoom-in;
    transition:  300ms ease-in-out;
}
.container-fluid2 div .image-container .image-container-side.show {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $white;
    opacity: .97;
    img {
        width: 90%;
    }
}
.container-fluid2 div .image-container .image-container-side img {
    max-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.container-fluid2 div .actual-post {
    margin-top: 20px;
    font-size: 18px;
    word-break: break-word;
}
.container-fluid2 div .actual-post p {
    letter-spacing: -0.013em;
    word-break: break-word;
    line-height: 28px;
    color: $black;
}
.container-fluid2 div .actual-post p .firstWord {
    margin-right: 12px;
    padding-top: 0px;
    display: block;
    font-size: 50px;
    position: relative;
    float: left;
    letter-spacing: -0.03em;
    line-height: .83;
}