@use'../custom' as *;

// The navbar section styling for the home page after user logs in
// Styling the navabar containers
.brand-container {
    display: flex;
    align-items: center;
}
.navbar-brand {
    padding: 0;
}
// Styling the search button
.search-container {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: $gray-100;
    border-radius: 2rem;
}

.search-form {
    margin-left: .35rem;
    width: 75%;
}
.search-icon {
    margin-top: .2rem;
    margin-left: .8rem;
    font-size: 1.2rem;
}
.search-input {
    border: 0;
    border-radius: 0;
    background-color: $gray-100;
    &:focus {
        box-shadow: none;
        outline: none;
        background-color: $gray-100;
    }
}
.list-container {
    display: flex;
}
.list-container .btn {
    margin-left: 1.5rem;
    color: $gray-600;
}

// ----------------------columnA  SECTION STYLING-----------------------------------//
.columnA {
    border-top: 0;
    border-right: 1px solid $gray-300;
    border-bottom: 0;
    border-left: 0;
}
.columnA .nav {
    padding-top: 3rem;
}
.columnA .nav .nav-item a {
    color: $gray-800;
}

// POST CARD STYLING
.card {
    border: 0;
    border-radius: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-300;
}
.card-header {
    background-color: $white;
    border-bottom: 0;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}
.card-header div {
    margin-right: .5rem;
}
.card-body {
    padding-top: .7rem;
}
.card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .footer .footer-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
}
.card .footer .footer-start div {
    background-color: $gray-300;
    border: 1px solid $gray-300;
    border-radius: 2rem;
    margin-right: .8rem;
    padding: .4rem .3rem .4rem .3rem;
}
.card .footer .footer-start p {
    margin: 0;
}
.card .footer .footer-end i {
    font-size: 1rem;
    margin-left: 1rem;
}
// -----------------------END of columnA styling ----------------------------------//

// -----------------------BEGIN columnB styling-----------------------------------//
