/*=======================================================================
* THIS SASS FILE WILL STYLE THE USER PROFILE PAGE. GIVE IT A CUSTOM LOOK
*=======================================================================*/
@use'../custom' as *;

/*======================================================================
* custom alert styling is here
=======================================================================*/
.customAlert {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    background-color: $black;
    color: white;
    text-align: center;
    padding: .6rem;
    border-radius: .4rem;
    transition: top 0.5s;
}
.customAlertContent {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 0;
    color: #fff;
}
.customAlertClose i {
    font-size: 1.4rem;
}

/*=======================================================================
* styling the columnA section start below
*=============== ========================================================*/
.columnA {
    min-height: 100vh;
}
.columnA-container {
    width: 90%;
}
.columnA .top_part {
    display: block;
    margin-top: 52px;
    margin-bottom: 48px;
}
.columnA .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.columnA .header .header-name a {
    font-size: 2.5rem;
    color: $black;
    font-weight: 600;
}
.columnA .header .three-dots {
    cursor: pointer;
    i {
        font-size: 1.5rem;
        color: $gray-500;

        &:hover {
            color: $black;
        }
    }
}
.columnA .top_part .about-home-container {
    height: 39px;
    background-color: gray;
    overflow: hidden;
}

/*===================================================================================================
* styling columnB section start below
===================================================================================================*/
a {
    text-decoration: none;
    cursor: pointer;
}

.columnB .columnB-container {
    max-width: 18rem;
    min-width: 18rem;
    margin: 0 auto;
    height: 100vh;
}
.columnB-container-header {
    margin-top: 3.2rem;
}
.columnB-container-header .three-dots {
    display: none;
}

.columnB-container-header .profile-image-container {
    cursor: pointer;
    width: 100%;
    height: 5.5rem;
}
.columnB-container-header .profile-image-container a {
    display: flex;
    height: 100%;
    width: 100%;
}
.columnB-container-header .profile-image-container a img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.columnB-container-header .profile-name {
    width: 100%;
    height: 1.25rem;
    margin-top: 1rem;
}
.columnB-container-header .profile-name a {
    display: flex;
    width: 100%;
    height: 100%;
}
.columnB-container-header .profile-name a h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $black;
}

.columnB-container-header .profile-followers {
    margin-top: .25rem;
    width: 100%;
    height: 1.5rem;
}
.columnB-container-header .profile-followers a {
    display: flex;
    width: 100%;
    height: 100%;
}
.columnB-container-header .profile-followers a h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $gray-600;
    &:hover {
        color: $black;
    }
}
.columnB-container-header .profile-bio {
    margin-top: .75rem;
    width: 100%;
    height: 5rem;
}
.columnB-container-header .profile-bio p {
    height: 100%;
    font-size: .875rem;
    color: $gray-800;
    line-height: 1.25rem;
    margin: 0;
    text-align: start;
}
.columnB-container-header .follow-message-section {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    gap: .8rem;
}
.columnB-container-header .follow-message-section .follow-btn {
    border: .1rem $green solid;
    background-color: $green;
    color: $white;
    text-align: center;
    width: auto;
    border-radius: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    &:hover {
        background-color: rgb(13, 85, 11);
    }
}
// This is the following section
.columnB-container-header .following-section {
    width: 100%;
    max-height: 14.5rem;
    text-align: start !important;

}
.columnB-container-header .following-section .header {
    font-size: 1rem;
    font-weight: 600;
    color: $black;
    display: inline-block;
}
.columnB-container-header .following-section ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    padding: 0;
    list-style: none;
}
.columnB-container-header .following-section ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.columnB-container-header .following-section ul li a {
    text-decoration: none;
    padding: 0;
}
.columnB-container-header .following-section ul li a div {
    display: flex;
    padding-right: 10px;
}
.columnB-container-header .following-section ul li a div .image-container {
    padding-right: 12px;
}
.columnB-container-header .following-section ul li a div .image-container img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}
.columnB-container-header .following-section ul li a div p {
    font-size: .8125rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
    &:hover {
        color: $black !important;
        text-decoration: underline;
    }
}
.columnB-container-header .following-section ul li .three-dots {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
        background-color: $gray-200;
    }
}
.columnB-container-header .following-section .see-all a {
    font-size: 13px;
    color: $gray-800;
    font-weight: bold;
    &:hover {
        color: $black;
    }
}


/*===============================================================================================
*=============================MEDIA QUERIES ARE HERE ============================================
===============================================================================================*/
@media only screen and (max-width: 576px) {
    /*==================================================
    *==============NAVIGATION BAR SECTION=============*/
    .navbar .list-container .write-button {
        display: none;
    }
    .navbar .list-container .search-button {
        display: block;
        margin-right: 2rem;
    }
    .columnA .header {
        display: none;
    }
    .columnB .columnB-container {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .columnB .columnB-container-header {
        margin: 24px 0;
    }
    .columnB .columnB-container-header .sm-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .columnB .columnB-container-header .sm-div .sm-profile-followers-name {
        margin-right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .columnB .columnB-container-header .sm-div .sm-profile-followers-name .profile-image-container {
        margin-right: 20px;
        height: auto;
        width: 3rem;
        a {
            height: auto;
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    .columnB .columnB-container-header .sm-div .sm-name-followers-div .profile-name {
        margin-top: 0;
        a h2 {
            font-size: 1.5rem;
            font-weight: 900;
        }
    }
    .columnB .columnB-container-header .sm-div .sm-name-followers-div .profile-followers {
        margin-top: .5rem;
    }
    .columnB .columnB-container-header .three-dots {
        display: block;
    }
    .columnB-container-header .profile-bio {
        display: none;
    }
    .columnB-container-header .following-section {
        display: none;
    }
}