/*=======================================================================
* THIS SASS FILE WILL STYLE THE USER PROFILE PAGE. GIVE IT A CUSTOM LOOK
*=======================================================================*/
@use'../custom' as *;

/*======================================================================
* custom alert styling is here
=======================================================================*/
.customAlert {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    background-color: $black;
    color: white;
    text-align: center;
    padding: .6rem;
    border-radius: .4rem;
    transition: top 0.5s;
}
.customAlertContent {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 0;
    color: #fff;
}
.customAlertClose i {
    font-size: 1.4rem;
}

/*=======================================================================
* styling the columnA section
*=============== ========================================================*/
.columnA {
    min-height: 100vh;
}
.columnA-container {
    width: 90%;
}
.columnA .top_part {
    display: block;
    margin-top: 52px;
    margin-bottom: 48px;
}
.columnA .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.columnA .header .header-name a {
    font-size: 2.5rem;
    color: $black;
    font-weight: 600;
}
.columnA .header .three-dots {
    cursor: pointer;
    i {
        font-size: 1.5rem;
        color: $gray-500;

        &:hover {
            color: $black;
        }
    }
}

/*=====================================================================
* styling columnB section
=====================================================================*/
a {
    text-decoration: none;
    cursor: pointer;
}

.columnB .columnB-container {
    max-width: 18rem;
    min-width: 18rem;
    margin: 0 auto;
    height: 100vh;
}
.columnB-container-header {
    margin-top: 3.2rem;
}

.columnB-container-header .profile-image-container {
    cursor: pointer;
    width: 100%;
    height: 5.5rem;
}
.columnB-container-header .profile-image-container a {
    display: flex;
    height: 100%;
    width: 100%;
}
.columnB-container-header .profile-image-container a img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.columnB-container-header .profile-name {
    width: 100%;
    height: 1.25rem;
    margin-top: 1rem;
}
.columnB-container-header .profile-name a {
    display: flex;
    width: 100%;
    height: 100%;
}
.columnB-container-header .profile-name a h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $black;
}

.columnB-container-header .profile-followers {
    margin-top: .25rem;
    width: 100%;
    height: 1.5rem;
}
.columnB-container-header .profile-followers a {
    display: flex;
    width: 100%;
    height: 100%;
}
.columnB-container-header .profile-followers a h2 {
    font-size: 1rem;
    font-weight: 600;
    color: $gray-600;
    &:hover {
        color: $black;
    }
}
.columnB-container-header .profile-bio {
    margin-top: .75rem;
    width: 100%;
    height: 5rem;
}
.columnB-container-header .profile-bio p {
    height: 100%;
    font-size: .875rem;
    color: $gray-800;
    line-height: 1.25rem;
    margin: 0;
    text-align: start;
}
.columnB-container-header .follow-message-section {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    gap: .8rem;
}
.columnB-container-header .follow-message-section .follow-btn {
    border: .1rem $green solid;
    background-color: $green;
    color: $white;
    text-align: center;
    width: auto;
    border-radius: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    &:hover {
        background-color: rgb(13, 85, 11);
    }
}
// This is the following section
.columnB-container-header .following-section {
    width: 100%;
    max-height: 14.5rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.columnB-container-header .following-section .header {
    font-size: 1rem;
    font-weight: 600;
    color: $black;
    display: inline-block;
}