@use'../custom' as *;

.navbar-brand {
    font-size: xx-large;
}

li {
    padding: 0 0.9rem;
    color: #000;
    text-transform: capitalize;
}
.mediaQ {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}