// MY THEME COLORS
$PRIMARY:  #ffc107;
$SECONDARY: #c8c5f2;
$ACCENT: #bf2b6b;
$TEXT: #0c0c03;


// THE WHITE AND GRAY COLORS
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// MORE COLOR VARIABLES
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #0e9725;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $PRIMARY;
$secondary:     $SECONDARY;

// This part involves customising the modal
$modal-backdrop-bg:                 $white;
$modal-backdrop-opacity:            .9;
$modal-dialog-margin:               0;
$modal-dialog-margin-y-sm-up:       0;
$modal-content-border-color:        $white;
$modal-content-border-width:        0;
$modal-content-border-radius:       .2rem;

// customising the input form focus
$input-btn-focus-width:         0;
$input-btn-focus-color-opacity: 0;
$input-btn-focus-color:         $black;

// customising the dropdown component
$dropdown-min-width:                17rem;
$dropdown-padding-y:                1.5rem;

// BOX SHADOW
$box-shadow:                  0 .5rem 1rem rgba($black, .15);


// FIRST WE IMPORT THE MAIN BOOTSTRAP SCSS FILE WHICH HAS EVERYTHING
@import"../node_modules/bootstrap/scss/bootstrap.scss";

