// MY THEME COLORS
$PRIMARY:  #ffc107;
$SECONDARY: #c8c5f2;
$ACCENT: #bf2b6b;
$TEXT: #0c0c03;


// THE WHITE AND GRAY COLORS
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $PRIMARY;
$secondary:     $SECONDARY;
// FIRST WE IMPORT THE MAIN BOOTSTRAP SCSS FILE WHICH HAS EVERYTHING
@import"../node_modules/bootstrap/scss/bootstrap.scss";

