{% extends "layout.html" %}

{% block title %}<title>KcaVibes - Where home is</title>{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md bg-emphasis">
    <div class="container-fluid2 border-bottom">
      <div class="brand-container">
        <a class="navbar-brand fs-3 fw-bold" href="/">Kca<span>Vibes</span></a>
        <div class="search-container">
          <div class="inner-search-container">
            <div class="plh"></div>
            <div class="search-icon"><i class="bi bi-search search-icon"></i></div>
            <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
      </div>
      <div class="write-link">
        <a href="{{ url_for('main.write') }}">
          <div>
            <i class="bi bi-pencil-square fs-4"></i>
            <div class="write">Write</div>
          </div>
        </a>
      </div>
      <div class="search-link">
        <a href="{{ url_for('main.write') }}">
          <div>
            <i class="bi bi-search fs-4"></i>
          </div>
        </a>
      </div>
      <div class="bell-link">
        <a href="">
          <div><i class="bi bi-bell fs-4"></i></div>
        </a>
      </div>
      <div class="profile-container">
        <button id="profile-button" class="profile-container-btn">
          <div class="profile_picture_div">
            {% if current_user.to_use_gravatar %}
            <img  class="profile_picture_img" src="{{ current_user.generate_gravatar_url() }}" alt="profile picture">
            {% else %}
            <img  class="profile_picture_img" src="{{ current_user.profile_picture_url }}" alt="profile picture">
            {% endif %}
          </div> 
        </button>
      </div>
      <div id="dropdown-element" class="drop-down-container">
        <div class="inner-drop-down-container">
          <div>
            <div class="top-part">
              <div class="write-link">
                <a href="{{ url_for('main.write') }}">
                  <div class="p">
                    <i class="bi bi-pencil-square fs-4"></i>
                    <div class="write">Write</div>
                  </div>
                </a>
              </div>
              <a href="{{ url_for('main.user', username=current_user.username) }}">
                <div class="p">
                  <i class="bi bi-person fs-4"></i>
                  <div>Profile</div>
                </div>
              </a>
              <a href="#">
                <div class="p">
                  <i class="bi bi-bookmarks fs-4"></i>
                  <div>Library</div>
                </div>
              </a>
              <a href="#">
                <div class="p">
                  <i class="bi bi-file-earmark-text fs-4"></i>
                  <div>stories</div>
                </div>
              </a>
              <a href="#">
                <div class="p">
                  <i class="bi bi-bar-chart-fill fs-4"></i>
                  <div>stats</div>
                </div>
              </a>
            </div>
            <div class="middle-part">
              <a href="#">
                <div>Settings</div>
              </a>
              <a href="#">
                <div>Refined recommendations</div>
              </a>
              <a href="#">
                <div>Manage publications</div>
              </a>
              <a href="#">
                <div>Help</div>
              </a>
            </div>
            <div class="lower-middle-part">
              <a href="#">
                <div>Become a KcaVibes member</div>
              </a>
              <a href="#">
                <div>Gift membership</div>
              </a>
              <a href="#">
                <div>Join developers community</div>
              </a>
            </div>
            <div class="logout-part">
              <a href="{{ url_for('auth.logout') }}">
                <div>Sign out</div>
              </a>
            </div>
            <div class="footer-part"></div>
          </div>
        </div>
      </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div id="customAlert" class="customAlert">
  <div class="customAlertContent">
    <span class="customAlertMessage">Link copied</span>
    <button id="customAlertClose" class="btn customAlertClose"><i class="bi bi-x"></i></button>
  </div>
</div>
<div class="body-container">
  <div class="inner-body-container">
    <main class="main-section">
      <div class="main-container">
        <div class="posts-section">
          <div class="inner-posts-section">
            {% for post in posts %}
            <article>
              <div class="article-container">
                <div class="inner-article-container">
                  <div class="inner-article-container2">
                    <div class="date-section">
                      <div class="profile-container">
                        <button id="profile-button" class="profile-container-btn">
                          <div class="profile_picture_div">
                            {% if post.author.to_use_gravatar %}
                            <a href="{{ url_for('main.user', username=post.author.username) }}">
                              <img  class="profile_picture_img" src="{{ post.author.generate_gravatar_url() }}" alt="profile picture">
                            </a>
                            {% else %}
                            <a href="{{ url_for('main.user', username=post.author.username) }}">
                              <img  class="profile_picture_img" src="{{ post.author.profile_picture_url }}" alt="profile picture">
                            </a>
                            {% endif %}
                          </div> 
                        </button>
                      </div>
                      <div class="username-postDate">
                        <div class="username"><p>{{ post.author.fullname }}</p></div>
                        <div class="date">
                          <div class="postDate">
                            <a href="#"><p class="datePosted">{{ post.timestamp }}</p></a>
                          </div>
                          <div class="authenticated-user"><i class="bi bi-stars"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="text-container-side">
                      <div class="text-section">
                        <div class="inner-text-section">
                          <div class="top-section">
                            <a href="{{ url_for('main.post', post_id=post.uniquePostId) }}">
                              {% if post.title %}
                              <div class="heading"><h2>{{ post.title }}</h2></div>
                              {% else %}
                              <div class="heading" style="display: none;"></div>
                              {% endif %}
                              <div class="paragraph">
                                <p>{{ post.body }}</p>
                              </div>
                            </a>
                          </div>
                          {% if post.imageName %}
                          <div class="image-container-side">
                            <a href="{{ url_for('main.post', post_id=post.uniquePostId) }}">
                              <img src="{{ url_for('main.serve_image', filename=post.imageName) }}" alt="{{ post.imageName }}">
                            </a>
                          </div>
                          {% else %}
                          <div class="image-container-side" style="display: none;"></div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="bottom-section">
                        <div class="inner-container">
                          <div class="time-section">
                            {% if post.topic %}
                            <div class="button-section">
                              <a href="#"><div>{{ post.topic }}</div></a>
                            </div>
                            {% else %}
                            <div class="button-section" style="display: none;"></div>
                            {% endif %}
                          </div>
                          <div class="bmk-section home-bmk-section">
                            <div><i class="bi bi-bookmark-plus"></i></div>
                            <div><i class="bi bi-dash-circle"></i></div>
                            <div><i class="bi bi-three-dots"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
    <div class="secondary-section"></div>
  </div>
</div>
{% endblock %}
