{% extends "layout.html" %}

{% block title %}<title>KcaVibes - Where home is</title>{% endblock %}

{% block content %}
<div class="height-px-85 db"></div>
<div class="pos-rel db border-b bg-primary" id="introSectionContainer">
  <div class="flex-justify-center" id="introSection">
    <div class="m-t-0 m-b-0 m-s-24 m-e-24 max-width-1200 width-100">
      <div class="width-100 flex">
        <div class="width-100 height-100 p-t-90 p-b-90 flex-column">
          <div class="m-b-36 db">
            <h2 class="l-s lh-72 fs-72 color-black margin-0">Together, We Thrive.</h2>
          </div>
          <div class="width-100 m-b-48">
            <h3 class="fs-24 lh-24 color-black margin-0">Discover stories, Connect, and Share with fellow students</h3>
          </div>
          <div class="db">
            <button class="getStartedButton fs-20 width-px-200 p-t-8 p-b-8 p-s-20 p-e-20 lh-20 ta-center dib bg-color-black color-white border-none border-rd-32 margin-0 fw-800">
              Explore
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="db bg-color-white" id="postSection">
  <div class="flex-justify-center">
    <div class="m-t-0 m-b-0 m-s-24 m-e-24 max-width-1200 min-width-0">
      <div>
        <section class="db">
          <div class="db">
            <div class="db">
              <div class="p-t-12 p-b-12 db">
                {% for post in posts %}
                <div class="width-100 height-100">
                  <div class="m-b-12">
                    <div class="margin-0 padding-0 flex-align-center-just-btn">
                      <div class="m-e-20 width-100 db">
                        <div class="db p-b-8">
                          <div class="flex-align-center">
                            <div>
                              {% if post.author.to_use_gravatar %}
                              <a href="{{ url_for('main.user', username=post.author.username) }}">
                                <img  class="width-px-20 height-px-20" src="{{ post.author.generate_gravatar_url() }}" alt="profile picture">
                              </a>
                              {% else %}
                              <a href="{{ url_for('main.user', username=post.author.username) }}">
                                <img  class="width-px-20 height-px-20 border-rd-4" src="{{ post.author.profile_picture_url }}" alt="profile picture">
                              </a>
                              {% endif %}
                            </div>
                            <div class="m-s-8 flex-align-center flex-wrap">
                              <div class="height-px-16 l-s webkit-line-1">{{ post.author.fullname }}</div>
                            </div>
                          </div>
                        </div>
                        <a href="{{ url_for('main.post', post_id=post.uniquePostId) }}" class="margin-0 padding-0 l-s ">
                          <h2 class="max-height-40 lh-20 fs-18 webkit-line-2 margin-0 color-black fw-800">{{ post.body }}</h2>
                        </a>
                        <div class="p-t-4 flex-align-center-just-btn">
                          <div>
                            <a href="#"><p class="datePosted fs-13 color-gray-600">{{ post.timestamp }}</p></a>
                          </div>
                          <div class="pos-rel">
                            <i class="three-dots bi bi-three-dots fs-20 color-gray-600 cp"></i>
                            <div class="popup-dialog-box pos-abs width-px-150 right-neg-30 shadow">
                              <div class="db bg-color-white border-rd-4">
                                <ul class="p-t-8 p-b-8 p-e-0 p-s-0 margin-0 flex-dir-column-align-stretch">
                                  <li class="m-b-4 cp shareData"><a href="">share link</a></li>
                                  <li class="m-b-4"><a href="{{ url_for('main.user', username=post.author.username) }}">view author</a></li>
                                  <li><a href="{{ url_for('main.post', post_id=post.uniquePostId) }}">open post</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% if post.imageName %}
                      <a href="{{ url_for('main.post', post_id=post.uniquePostId) }}" class="webkit-line-1">
                        <img src="{{ url_for('main.serve_image', filename=post.imageName) }}" class="" alt="love kcavibes" width="100" height="100" loading="lazy">
                      </a>
                      {% else %}
                      <img src="" alt="" style="display: none;">
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="Footer-section db">
  <div class="p-t-24 p-b-24 p-s-0 p-e-0 bg-color-black m-b-0 min-width-vw-100">
    <div class="flex-justify-center">
      <div class="m-t-0 m-e-24 m-b-0 m-s-24 min-width-0 max-width-1200 width-100">
        <a href="{{ url_for('main.home') }}" class="padding-0 margin-0 color-white fs-28">Kca<span class="color-primary">Vibes</span></a>
        <div class="m-t-20 p-b-20 db border-b-white">
          <p class="color-white fs-13 lh-20 margin-0 padding-0">
            <a href="{{ url_for('main.about') }}" class="m-e-20 color-white">About</a>
            <a href="{{ url_for('main.about') }}" class="m-e-20 color-white">Terms</a>
            <a href="{{ url_for('main.about') }}" class="m-e-20 color-white">Help</a>
            <a href="{{ url_for('main.about') }}" class="m-e-20 color-white">Privacy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}