{% extends "layout.html" %}

{% block title %}<title>KcaVibes - Where home is</title>{% endblock %}

{% block content %}
<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6 intros">
        <h1 class="display-2">
          <span class="display-2-intro">Together, We Thrive</span>
          <p class="display-2-description">Discover stories, Connect, and Share with fellow students</p>
        </h1>
        <button type="button" class="nav-item rounded-pill btn-rounded btn-home">
          <a href="#" id="getStartedLink" data-bs-toggle="modal" data-bs-target="#get-started-modal">Start reading</a>
        </button>
      </div>

      <div class="col-md-4 intros">
        <div class="video-box">
          <img src="../static/assets/images/intro-section.png" alt="video illustration" class="img-fluid">
          <a href="#" class="glightbox">
            <span class="tt" data-bs-placement="top" title="Watch our history">
              <img src="../static/assets/images/play-circle.svg" alt="play button" class="img-fluid"> 
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="posts-section">
  <div class="body-container">
    <div class="inner-body-container">
      <main class="main-section">
        <div class="main-container">
          <div class="posts-section">
            <div class="inner-posts-section">
              {% for post in posts %}
              <article class="border-bottom">
                <div class="article-container">
                  <div class="inner-article-container">
                    <div class="inner-article-container2">
                      <div class="date-section">
                        <div class="profile-container">
                          <button id="profile-button" class="profile-container-btn">
                            <div class="profile_picture_div">
                              {% if post.author.to_use_gravatar %}
                              <a href="{{ url_for('main.user', username=post.author.username) }}">
                                <img  class="profile_picture_img" src="{{ post.author.generate_gravatar_url() }}" alt="profile picture">
                              </a>
                              {% else %}
                              <a href="{{ url_for('main.user', username=post.author.username) }}">
                                <img  class="profile_picture_img" src="{{ post.author.profile_picture_url }}" alt="profile picture">
                              </a>
                              {% endif %}
                            </div> 
                          </button>
                        </div>
                        <div class="username">{{ post.author.fullname }}</div>
                        <div class="date"><a href="#">{{ post.timestamp }}</a></div>
                      </div>
                      <div class="text-section">
                        <div class="inner-text-section">
                          <div class="article-side">
                            <div class="top-section">
                              <a href="#">
                                {% if post.title %}
                                <div class="heading"><h2>{{ post.title }}</h2></div>
                                {% else %}
                                <div class="heading" style="display: none;"></div>
                                {% endif %}
                                <div class="paragraph">
                                  <p>{{ post.body }}</p>
                                </div>
                              </a>
                            </div>
                            <div class="bottom-section">
                              <div class="inner-container">
                                <div class="time-section">
                                  {% if post.topic %}
                                  <div class="button-section">
                                    <a href="#"><div>{{ post.topic }}</div></a>
                                  </div>
                                  {% else %}
                                  <div class="button-section" style="display: none;"></div>
                                  {% endif %}
                                  <div class="read-time-section">
                                    <a href="#">
                                      <p>
                                        <span>4 min read</span>
                                      </p>
                                    </a>
                                  </div>
                                </div>
                                <div class="bmk-section">
                                    <i class="bi bi-bookmark-plus fs-5 me-2"></i>
                                    <i class="bi bi-three-dots fs-5"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </main>
      <div class="secondary-section"></div>
    </div>
  </div>
</section>
<div>yooo</div>
{% endblock %}
