<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon link --->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon/kcalogo-1.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon/kcalogo-1.png') }}" type="image/x-icon">

    <!---Link to bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/glightbox/css/glightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block title %}<title>Microblog</title>{% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-primary shadow fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand fw-bold">KcaVibes</a>

            <div class="justify-content-end" id="navbarToggle">
                <ul class="navbar-nav">
                    <li class="nav-item mediaQ"><a href="{{ url_for('about') }}" class="nav-link">Our story</a></li>
                    <li class="nav-item mediaQ"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item mediaQ"><a href="#" class="nav-link">Post</a></li>
                    <li class="nav-item mediaQ"><a href="{{ url_for('login') }}" class="nav-link">Sign In</a></li>
                    <li class="nav-item rounded-pill btn-rounded">
                        <a href="#" id="getStartedLink" data-bs-toggle="modal" data-bs-target="#registration-modal">Get started</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <!---------------------MODAL STRUCTURE----------------------------------------->
    <div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="registration-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="registration-modal-content">
                <div class="container text-center modal-container">
                    <h1>Join KcaVibes.</h1>
                    <div><button type="button" class="btn btn-primary modal-btn">Sign up with Google</button></div>
                    <div><button type="button" class="btn btn-primary modal-btn">Sign up with Facebook</button></div>
                    <div><button type="button" class="btn btn-primary modal-btn">Sign up with Email</button></div>
                    <p class="lead">Already have an Account? <a href="#">Sign In</a></p>
                </div>
            </div>
            <div class="modal-footer">
                <p class="lead text-muted text-center">Click “Sign Up” to agree to KcaVibes' <a href="#">Terms of Service</a> and acknowledge that KcaVibes' <a href="">Privacy Policy</a> applies to you.</p>
            </div>        
          </div>
        </div>
    </div>
    <!--------------------END OF MODAL STRUCTURE------------------------------------>
    
    
    {% block content %}{% endblock %}
    
    
    <script src="../static/assets/glightbox/js/glightbox.min.js"></script>
    <script type="text/javascript">
    const lightbox = GLightbox({
        'href': 'https://youtu.be/I-bq02csv-w?si=L89oz5TVknFyclKh',
        'type': 'video',
        'source': 'youtube', //vimeo, youtube or local
        'width': 900,
        'autoPlayVideos': 'true',
    });
    </script>
    <!--------SCRIPT FOR TOOLTIPS-------------------------------------------->
    <script>
        const tooltipTriggerList = document.querySelectorAll('.tt')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <!---------SCRIPT FOR LOADING REGSITRATION FORM USING AJAX JQUERY TO BE DISPLAYED IN MODAL---------->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/assets/js/style.js"></script>
    <script src="../static/assets/js/bootstrap.bundle.js"></script>
</body>

</html>
