{% extends "layout.html" %}

{% block title %}<title>{{ current_user.fullname }}</title>{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md bg-emphasis border-bottom">
  <div class="container-fluid">
    <div class="brand-container">
      <a class="navbar-brand fs-3 fw-bold" href="/">Kca<span>Vibes</span></a>
      <div class="search-container">
        <i class="bi bi-search search-icon"></i>
        <form role="search" class="search-form">
          <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
    <div class="list-container">
      <button class="btn"><i class="bi bi-pencil-square fs-4"></i><span>Write</span></button>
      <button class="btn"><i class="bi bi-bell fs-4"></i></button>
      <div class="dropstart">
        <div class="profile_picture_div dropdown-toggle" data-bs-toggle="dropdown" style="position: relative;">
          {% if current_user.to_use_gravatar %}
          <img  class="profile_picture_img" src="{{ current_user.generate_gravatar_url() }}" alt="profile picture">
          {% else %}
          <img  class="profile_picture_img" src="{{ current_user.profile_picture_url }}" alt="profile picture">
          {% endif %}
        </div>
        <div class="dropdown-menu shadow">
          <ul>
            <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="bi bi-person-fill"></i>profile</a></li>
            <li><a href=""><i class="bi bi-file-earmark-post"></i>Your stories</a></li>
            <li><a href=""><i class="bi bi-gear"></i>Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="#">School portal</a></li>
            <li><a href="">Library Account</a></li>
            <li><a href="">Campus</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="#">Community Membership</a></li>
            <li><a href="#">Campus Clubs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div id="customAlert" class="customAlert">
  <div class="customAlertContent">
    <span class="customAlertMessage">Link copied</span>
    <button id="customAlertClose" class="btn customAlertClose"><i class="bi bi-x"></i></button>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-8 columnA">
      <div class="columnA-container">
        <div class="top_part">
          <div class="header">
            <div class="header-name"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.fullname }}</a></div>
            <div class="dropdown-center">
              <div class="three-dots dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></div>
              <ul class="dropdown-menu shadow-sm">
                <li><a id="copyLinkToProfile" class="dropdown-item">Copy link to profile</a></li>
                <li><a class="dropdown-item" href="#">Mute this author</a></li>
                <li><a class="dropdown-item" href="#">Block this author</a></li>
                <li><a class="dropdown-item" href="#">Report this author</a></li>
                <li><a class="dropdown-item" href="#">Design your profile</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card text-start">
          <div class="card-header">
            <div><i class="bi bi-person"></i></div>
            <div class="fw-semibold">The secret Developer.</div>
            <div>Jan 12</div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold">The 7 signs of a programmer</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima non amet dolore adipisci temporibus eveniet deleniti minus error, dolor similique!...</p>
            <div class="footer">
              <div class="footer-start">
                <div>Software Development</div>
                <p>4 min read</p>
              </div>
              <div class="footer-end">
                <i class="bi bi-bookmark"></i>
                <i class="bi bi-three-dots"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 columnB">
      <div class="columnB-container">
        <div class="columnB-container-header">
          <div class="profile-image-container">
            <a href="{{ url_for('main.user', username=current_user.username) }}">
              {% if current_user.to_use_gravatar %}
              <img class="profile_picture_img" src="{{ current_user.generate_gravatar_url() }}" alt="profile-picture">
              {% else %}
              <img class="profile_picture_img" src="{{ current_user.profile_picture_url }}" alt="profile picture">
              {% endif %}
            </a>
          </div>
          <div class="profile-name">
            <a href="{{ url_for('main.user', username=current_user.username) }}">
              <h2>{{ current_user.fullname }}</h2>
            </a>
          </div>
          <div class="profile-followers">
            <a href="{{ url_for('main.followers')}}"><h2>1.8K Followers</h2></a>
          </div>
          <div class="profile-bio">
            <p>{{ current_user.about_me }}</p>
          </div>
          <div class="follow-message-section">
            <button class="btn follow-btn">Follow</button>
            <div class="btn follow-btn"><i class="bi bi-envelope-plus"></i></div>
          </div>
          <div class="following-section">
            <span class="header">Following</span>
            <ul>
              <li>yoo</li>
              <li>yoo</li>
              <li>yoo</li>
              <li>yoo</li>
              <li>yoo</li>
            </ul>
          </div>
        </div>
        <div class="columnB-container-footer">footer</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
